body {
  background-color: #f0e8db;
}

.navContainer {
  display: flex;
  flex-direction: row;
    justify-content: space-evenly
}

nav {
  width: 1000px;
  margin-top: 20px;
  padding: 1px 0px;
  border-radius: 70px;
  background-color: #bdc8c0;
  font-size: 20px;
  color: #5f5f5f;
  box-shadow: 0 2px 7px 0 #cac3b9;
  display: flex;
  height: 46px;
}

nav ul {
  margin: 10px;
  width: 80%;
  display: flex;
  justify-content: space-around;
}
#navlogo {
  height: 60px;
  margin-right: 10px;
  margin-top: 20px;
}

li {
  display: inline;
  list-style-type: none;
  font-family: "corbel", sans-serif;
}
li a {
  color: #6d6b6b;
  padding: 8px 8px;
  text-decoration: none;
  transition: all 0.3s ease;
}

li a:hover {
  color: #494949;
  text-shadow: #5b5d5b 5px 5px 10px;
}

.currentpage a {
  color: #525352;
  background-color: #a4afa8;
  border-radius: 15px;
  padding: 5px 14px;
  transition: all 0.3s ease;
}

@font-face {
  font-family: "corbel";
  src: url(<linkrel="stylesheet"href="https://use.typekit.net/xbz7bfl.css">);
}
